*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
header{
    width: 100vw;
    height: 15vh;
    display: flex;
    background: #1e1e1e;
}
main {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1;
}
footer{
    width: 100vw;
    height: 5vh;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
}

.IconWrapper{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LinksWrapper{
    height: 100%;
    width: 25rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Content{
    width: 100vw;
    background: #1e1e1e;
    height: 90vh;
}
.ContentTwoParts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.FlexContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextPartWrapper{
    height: 40%;
    width: 80%;
    gap: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
}
.SectionWrapper{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TextWrapper{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SectionWrapper h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.TextWrapper p{
    color: #fff;
    font-size: 1.2rem;
    font-size: 300;
    width: 95%;
}
li{
    color: #fff;
    font-size: 1.2rem;
}
ul{
    width: 85%;
}

.LinksWrapper a{
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
}
.LinksWrapper a:hover{
    color: #db7500;
}
.IconWrapper img{
    width: 70%;
    aspect-ratio: 1/1;
}
h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
}

.FullPartContent{
    width: 80%;
    height: 80%;
    gap: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
}
.ImagePart{
    height: 100%;
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TextPart{
    height: 100%;
    width: 66.6666%;
}

.ImagePart img{
    width: 75%;
    height: 70%;
    border-radius: 1rem;
    border: 3px solid #db7500;
}
.TextPart h2{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}
.NameWrapper{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TextPart p{
    color: white;
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
}

.GridWrapperWrapper{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.GridWrapper{
    height: 90%;
    aspect-ratio: 1/1;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ExampleButtonWrapper{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Bit{
    background: #1a1a1a;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Bit p{
    color: white;
    font-size: 2rem;
}
.NextPrew{
    width: 10rem;
    height: 70%;
    background: none;
    color: white;
    border: #fff 1px solid;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.NextPrew:hover{
    color: #db7500;
    border: #db7500 1px solid;
}
#ContentPrompt{
    color: white;
    font-size: 1.2rem;
}

strong{
    font-weight: bold !important;
}

.Selected{
    text-decoration: underline !important;
}

.BitN{
    border: #fff 1px solid;
}
.BitG{
    border: #06ac00 1px solid;
}
.BitR{
    border: #a70000 1px solid;
}