*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
header{
    width: 100vw;
    height: 15vh;
    display: flex;
    background: #1e1e1e;
}
main {
    position: relative;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1;
}
footer{
    width: 100vw;
    height: 5vh;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
}

.IconWrapper{
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LinksWrapper{
    height: 100%;
    width: 25rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Content{
    width: 100vw;
    background: #1e1e1e;
    height: 90vh;
}
.FlexContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LinksWrapper a{
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
}
.LinksWrapper a:hover{
    color: #db7500;
}
.IconWrapper img{
    width: 70%;
    aspect-ratio: 1/1;
}
h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
}

.HammingHistoryWrapper{
    width: 80%;
    height: 80%;
    gap: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
}
.ImagePart{
    height: 100%;
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TextPart{
    height: 100%;
    width: 66.6666%;
}

.ImagePart img{
    width: 75%;
    height: 70%;
    border-radius: 1rem;
    border: 3px solid #db7500;
}
.TextPart h2{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}
.NameWrapper{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TextPart p{
    color: white;
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
}
strong{
    font-weight: bold !important;
}

.Selected{
    text-decoration: underline !important;
}